<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Appointments Here</title>
    <link rel="stylesheet" href="/a.css">
    <style>
      a{
        text-decoration: none;
      }
    </style>
</head>
<body>



  <h1 align="center">VIEW APPOINTMENTS HERE!!!</h1><br>




        <div class="doc-repeat">

                <div class="doctor-card">
                  <div class="doctor-info">
      
               
                    DATE OF APPOINTMENT:<p class="doctor-experience"><%=appointment.date%></p>
                   TIME OF APPOINTMENT: <p class="doctor-qualifications"><%=appointment.time%></p><br>
                    <a class="book-appointment-btn" href="/findpat/<%=appointment.pat_id%>">VIEW PATIENT DETAILS</a><br><br><br>
                    <button class="decl" data-doc="<%=appointment._id%>" >DECLINE</button><br><br><br>
                    <button  class="acc" data-doc="<%=appointment._id%>">ACCEPT</button>
                  </div>
          
                    
                </div>
            
          </div>
    
       
 
        
       <script>
        const trashcan = document.querySelector('.decl');

        trashcan.addEventListener('click', (e) => {
          const endpoint = `/declappointment/${trashcan.dataset.doc}`;
    
          fetch(endpoint, {
            method: 'PUT',
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
        });
        const trashcan2 = document.querySelector('.acc');

        trashcan2.addEventListener('click', (e) => {
          const endpoint = `/confappointment/${trashcan.dataset.doc}`;
    
          fetch(endpoint, {
            method: 'PUT',
          })
          .then(response => response.json())
          .then(data => window.location.href = data.redirect)
          .catch(err => console.log(err));
        });
       </script>
</body>
</html>