<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=doc.name%>'s Profile</title>
    </head>
    <body>
        
    </body>
    </html></title>
</head>
<body>

    <h4>Qualifications:<%=doc.qualifications%></h4><br>
    <h4>Speciality:<%=doc.speciality%></h4><br>
    <h4>Locality:<%=doc.locality%></h4><br>
    <h4>Hospital:<%=doc.hospital%></h4><br>
    <a href="/bookappointment/<%=doc._id%>">BOOK APPOINTMENT</a>

</body>
</html>